<!DOCTYPE html>
<html>
	<head>
		<script src="/.httpServe/_reload/wsrpc.js"></script>
		<script src="/.httpServe/js/watcher.js"></script>
	</head>
	<body>
	<xmp theme="cerulean" style="display:none;">{{.content}}</xmp>
	<script src="/.httpServe/strapdown.js"></script>
	</body>
</html>
