<!DOCTYPE html>
<html>
	<head>
		<script src="/.httpServe/_reload/wsrpc.js"></script>
		<script src="/.httpServe/js/watcher.js"></script>
		<link href="/.httpServe/gfm/gfm.css" rel="stylesheet">
	</head>
	<body>
	{{.content}}
	</body>
</html>
